css의 특징
1. 기본 style sheet의 존재 유무
                  : 웹브라우져마다 독립적으로 가지고 있는 style sheet
2. 적용 우선순위와 개별성

개별성 규칙의 점수
------------------------------------------------------
전체 선택자         *                           0
------------------------------------------------------
태그 선택자          div, p, h1                 1
------------------------------------------------------
가상 요소 선택자     ::before, ::after          1
------------------------------------------------------
클래스 선택자        .box, .title               10
------------------------------------------------------
가상클래스 선택자    :hover, :visited, :link    10
------------------------------------------------------
아이디 선택자        #title, #main              100
------------------------------------------------------
인라인 스타일        style="color:red"          1,000
------------------------------------------------------
*** 점수가 같을 경우 마지막에 쓰인 선택자의 style이 적용됨 ***

3. 상속 - 부모요소가 가진 css 속성을 자식요소가 물려받음

4. 단위
- 절대 단위 : px
              - 웹브라우저에서 다른 단위로 값을 지정하더라도 px 단위로 환산되어 계산 됨.
- 상대 단위 
            1. % : 해당 속성의 상위 요소 속성값에 상대적인 크기를 가집니다.
                 - 16 * 퍼센트배
            2. em : 부모 요소의 텍스트 크기에 상대적인 크기를 가집니다. 
                  - 부모요소의 n배
            3. rem : html 태그의 텍스트 크기에 상대적인 크기를 가집니다. 
                   - 1rem == 16px
            4. vw : 뷰포트의 너비를 기준으로 상대적인 크기를 가집니다.
                  - 웹브라우져 창의 너비
                  - 1vw == 뷰포트 너비 * 1/100 
            5. vh : 뷰포트의 높이를 기준으로 상대적인 크기를 가집니다.
                  - 웹브라우져 창의 높이
                  - 1vw == 뷰포트 높이 * 1/100   

5. 색상 표기법
- RGB 색상 표기법                             (투명도)
        ex) color: rgba(0~255, 0~255, 0~255, 0.0~1.0);
        ex) color: rgb(0~255, 0~255, 0~255)
- 키워드 표기법
        ex) color: 색상이름;
- HEX 표기법(16진수 표기법)
        ex) color: #RRGGBB;
----------------------------------------------------------------------------------------------------------------------
텍스트 속성으로 텍스트 꾸미기

선언부에서 사용하는 텍스트 속성
1. 속성 font-family: "글꼴명1", "글꼴명2", ..., 글꼴 유형;
                   - 글꼴명1 부터 웹브라우져에서 적용되는지 확인함. 안되면 다음 글꼴명2로 넘어감
                      -> "모든 글꼴이 안될 것을 대비해 글꼴명1과 비슷한 글꼴 유형을 지정해줄 것."
                   - 글꼴 유형 종류
                            serif      - 삐침이 있는 명조 계열의 글꼴
                            sans-serif - 삐침이 없고 굵기가 일정한 고딕 계열의 글꼴
                            monospace  - 텍스트 폭과 간격이 일정한 글꼴
                            fantasy    - 화려한 글꼴
                            cursive    - 손으로 쓴 것 같은 필기체 계열의 글꼴
2. 속성 font-size: qx/em/rem;
3. 속성 font-weight: 숫자표기법 or 키워드표기법;
                   - 숫자표기법 : 100~900 사이 100단위로 굵기 조절
                   - 키워드표기법 : lighter - 부모 요소 굵기보다 얇게 지정
                                   bolder - 부모 요소 굵기보다 굵게 지정
                                   normal - 400과 같은 굵기
                                   bold - 700과 같은 굵기
                   - font-family와 함께 사용 시 글꼴이 해당 굵기를 지원하지 않으면 적용 안됨
-- 글꼴 스타일 지정
4. 속성 font-style: normal | italic | oblique;
                    normal : 기본 형태로 표시
                    italic : 이탤릭체로 표시
                    oblique : 기울임꼴로 표시

-- 영문 텍스트를 크기가 작은 대문자로 변경 시 사용
5. 속성 font-variant: normal | small-caps;
                      normal : 텍스트 변환 X
                      small-caps : 텍스트를 크기가 작은 대문자로 변환

6. 속성 color - css특징 5번 색상표기법 보기

-- 텍스트 정렬 시 사용
7. 속성 text-align: left(start) | right(end) | center | justify;
                       왼정         오정        가정     양쪽정렬
-- 텍스트에 선 그을 때 사용
8. 속성 text-decoration: none | line-through | overline | underline;
                                   관통선        윗선        밑줄
-- 글자 사이 간격 지정
9. 속성 letter-spacing: normal | px; 
                      웹브 기본값
-- 텍스트 한줄의 높이(행간)
10. 속성 letter-height: normal | 숫자 | 퍼센트 | px; 
                        normal : 웹브 기본값
                        숫자 : font-size지정값 * 숫자 로 높이지정
                        퍼센트 : font-size지정값 * N% 로 높이지정
                        px : px 로 높이지정
--
